<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mass Test Suite">

    <parameter name="url" value="https://www.masslottery.com/"></parameter>
    <test name="ChromeBrowser">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="header.mainNavigation.AboutTest"/>
            <class name="header.mainNavigation.GamesTest"/>
            <class name="header.mainNavigation.PromotionsTest"></class>
            <class name="header.mainNavigation.ToolsTest"></class>
            <class name="header.LogoTest"></class>
            <class name="header.MyRecentTicketsTest"></class>
            <class name="homepage.draw_results_cards.AllOrNothingTest"></class>
            <class name="homepage.draw_results_cards.KenoTest"></class>
            <class name="homepage.draw_results_cards.TheNumbersGameTest"></class>
            <class name="homepage.thrilling_prizes_carousel.HeadingAndNavigationTest"></class>
            <class name="homepage.thrilling_prizes_carousel.LuckyForLifeThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.MassCashThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.MegabucksDoublerThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.MegaMillionsThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.TheNumbersGameThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.PowerballThrillingPrizesCardTest"></class>
            <class name="homepage.CarouselTest"></class>
            <class name="homepage.MessageBannerTest"></class>
        </classes>
    </test>
    <test name="FirefoxBrowser">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="header.mainNavigation.AboutTest"/>
            <class name="header.mainNavigation.GamesTest"/>
            <class name="header.mainNavigation.PromotionsTest"></class>
            <class name="header.mainNavigation.ToolsTest"></class>
            <class name="header.LogoTest"></class>
            <class name="header.MyRecentTicketsTest"></class>
            <class name="homepage.draw_results_cards.AllOrNothingTest"></class>
            <class name="homepage.draw_results_cards.KenoTest"></class>
            <class name="homepage.draw_results_cards.TheNumbersGameTest"></class>
            <class name="homepage.thrilling_prizes_carousel.HeadingAndNavigationTest"></class>
            <class name="homepage.thrilling_prizes_carousel.LuckyForLifeThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.MassCashThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.MegabucksDoublerThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.MegaMillionsThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.TheNumbersGameThrillingPrizesCardTest"></class>
            <class name="homepage.thrilling_prizes_carousel.PowerballThrillingPrizesCardTest"></class>
            <class name="homepage.CarouselTest"></class>
            <class name="homepage.MessageBannerTest"></class>
        </classes>
    </test>


</suite>